@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 66.6%;
  }
}

.font-titillium {
  font-family: 'Titillium Web';
}

.v-list-item__title {
  font-family: 'Titillium Web';
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
  box-shadow: none;
}

.bold {
  color: #3a464e !important;
}
